@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #73D2BA;
  --light: #8CF6EB;
  --text: #335858;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: var(--bg);
}

.navbar {
  background-color: var(--bg);
}

.title {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

label {
  font-weight: 500;
}

.form-input {
  display: grid;
  align-items: center;
  padding-bottom: 1rem;
  grid-template-columns: 1fr 3fr;
}

select {
  border-width: 2px;
  border-radius: 10px;
  padding: 0.5rem;
  border-color: var(--light);
}

.journey-form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1.5rem;
  background-color: #FFFFFF;
  max-width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px #00000025;
}

.plan-journey-button {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: solid 2px var(--light);
  background-color: var(--light);
  flex-grow: 1;
  color: var(--text);
  transition: 0.3s;
  box-shadow: 0 1px 5px #00000020;
}

.plan-journey-button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
